@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
 html {
     font-size: 16px;
}
/* global css start here */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 body {
     margin: 0;
     padding: 0;
     font-family: "Nunito Sans", sans-serif;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Libre Baskerville", serif;
}
 ul {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
}
 a {
     text-decoration: none;
}
 .container {
     max-width: 1320px;
     margin: 0 auto;
     padding-left: 5%;
     padding-right: 5%;
}
 img {
     width: 100%;
}
 .overlay {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: #000;
     opacity: 0.3;
}
.ptb-30{
    padding: 1.875rem 0;
}
.pt-30{
    padding-top: 1.875rem;
}
 .ptb-50 {
     padding: 3.125rem 0;
}
 .pb-50 {
     padding-bottom: 3.125rem;
}
 .ptb-70 {
     padding: 4.375rem 0;
}
 .pb-70 {
     padding-bottom: 4.375rem;
}
/* global css end here */
/* header section css start */
 .site-logo img {
     max-width: 6.25rem;
}
 .main-nav ul li a {
     font-size: 1.125rem;
     color: #333;
     font-weight: 700;
     transition: all 0.3s linear;
}
 .main-nav ul li a:hover, .main-nav ul li a.active {
     color: #9e259c;
}
 .main-nav ul {
     display: flex;
     align-items: center;
     gap: 25px;
     text-transform: capitalize;
}
 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .site-header {
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     padding: 0.625rem 0;
     transition: all 0.3s linear;
     background: #fff;
}
 .fixed-header {
     position: fixed;
     z-index: 99;
     left: 0;
     top: 0;
     width: 100%;
     background: #fff;
     transition: all 0.3s linear;
}
 .toggle, .close {
     display: none;
}
/* header section css end */
/* banner section css start */
.site-banner{
    height: 80vh;
    background-image: url(../images/hero-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.site-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
}
.site-banner .container{
    height: 100%;
}
.banner-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.sub-banner .banner-wrap{
    justify-content: center;

}
.banner-text h1 {
    font-size: 3.125rem;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
}
.banner-text p {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 0;
}
.banner-text {
    max-width: 31.25rem;
    width: 100%;
}
.sub-banner .banner-text {
    max-width: 80%;
    width: 100%;
    text-align: center;
}
.contact-btn a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-image: linear-gradient(135deg, #95229c 0%, #f3489a 100%);
    box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
    margin-top: 2.5rem;
    transition: all 0.3s linear;
}
.contact-btn a:hover{
    background-image: linear-gradient(135deg, #f3489a 0%, #95229c 100%);

}
/* banner section css end */
/* top text section start */
.top-text {
    text-align: center;
}
.top-text h3, .site-heading h3 {
    font-size: 1.875rem;
    margin-bottom: 0.9375rem;
    color: #25294a;
    font-weight: 700;
}
.top-text p, .site-heading p {
    font-size: 1.125rem;
    color: #333;
}

/* top text section end */

/* link card section css start */
.link-sec {
    background: #25294a0f;
    padding: 3.125rem 0;
    margin-bottom: 3.125rem;
}
.link-wrap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.2s linear;
}

.linkOne{
    background-image: url(../images/link01.jpg);
}
.linkOne:hover{
    background-image: url(../images/link1.jpg);
}
.linkTwo{
    background-image: url(../images/link02.webp);
}
.linkTwo:hover{
    background-image: url(../images/link2.jpg);
}
.linkThree{
    background-image: url(../images/link03.jpg);
}
.linkThree:hover{
    background-image: url(../images/link3.jfif);
}
.linkFour{
    background-image: url(../images/link04.jpg);
}
.linkFour:hover{
    background-image: url(../images/link4.jpg);
}
.link-wrap::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
}
.link-wrap a{
    position: relative;
    z-index: 9;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.link-wrap a h4 {
    font-size: 1.5625rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}
/* link card section css end */
/* how we rate section css start */
.site-heading{
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1.5625rem;
}
.rate-wrap {
    padding: 1.5625rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.rate-wrap::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.625rem;
    width: 100%;
    background-color: #25294a;
    transition: all 0.3s linear;

}
.rate-wrap:hover::before{
   height: 100%;
}
.rate-wrap:hover h4{
    color: #fff;
}
.rate-wrap:hover p{
    color: #fff;
}
.rate-text {
    text-align: center;
    position: relative;
}
.rate-text h4 {
    font-size: 1.5625rem;
    color: #25294a;
    margin-bottom: 0.625rem;
    font-weight: 700;
    transition: all 0.3s linear;

}
.rate-text p {
    font-size: 1rem;
    margin-bottom: 0.575rem;
    color: #333;
    transition: all 0.3s linear;

}
.how-we-rate .col-lg-4 {
    margin: 0.75rem  0;
}

/* how we rate section css end */

/* newsletter section css start */

.newsletter-sec{
    background-color: #25294a0f;
    padding: 3.125rem 0;
}
.newsletter-wrap {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    padding: 1.5625rem;
    border-radius: 10px;
}
.newsletter-text h4 {
    font-size: 1.5625rem;
    padding: 0  0.625rem;
    margin-bottom: 1.25rem;
    color: #25294a;
    font-weight: 600;
}
.newsletter-text input {
    width: 75%;
    padding: 0  0.625rem;
    height: 2.8125rem;
    border: 2px solid #25294a;
    border-radius: 5px;
}
.newsletter-text button {
    border: 2px solid #d73d9bbf;
    height: 2.8125rem;
    width: 25%;
    background-image: linear-gradient(135deg, #95229c 0%, #f3489a 100%);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    margin-top: 0.9375rem;
    font-weight: 600;
    transition: all 0.3s linear;

}
.newsletter-text button:hover{
    background-image: linear-gradient(135deg, #f3489a 0%,  #95229c 100%);

}
/* newsletter section css end */

/* blog post section css start */
.blog-wrap {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.25rem;
    border-radius: 10px;
    position: relative;
    height: 100%;
}
.blog-img {
    height: 21.875rem;
    overflow: hidden;
}
.blog-img:hover img{
    transform: scale(1.2);

}
.blog-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;

}
.blog-text {
    padding-top: 0.9375rem;
    padding-bottom: 3.125rem;
}
.blog-text h3 {
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
    line-height: 1.1;
    color: #25294a;
}
.blog-text p {
    font-size: 1.125rem;
    color: #333;
}
.check-out-btn a{

display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5625rem;
    background-image: linear-gradient(135deg, #95229c 0%, #f3489a 100%);
    box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s linear;
}
.check-out-btn a:hover{
    background-image: linear-gradient(135deg, #f3489a 0%,  #95229c 100%);
}
/* blog post section css end */


/* faq section css start */

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  .accordion-button::after {
    transition: all 0.5s;
    filter: brightness(0) invert(1);
  }
  


  button.accordion-button {
    background-color: #25294a;
    color: #fff;
    font-size: 1.125rem;
}
.accordion-item {
    margin: 0.625rem 0;
    border-radius: 10px !important;
    overflow: hidden;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #25294a;
    box-shadow: none;
}
.accordion-button:focus {
    border-color: #25294a;
    box-shadow: none;
}
/* faq section css end */
/* footer section css start */
.footer-links ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-links ul li a{
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #25294a;
}
.footer-links ul li a:hover{
    color: #95229c;
}
.social-icon ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    /*background-color: #25294a;
    */background-image: linear-gradient(135deg, #95229c 0%, #f3489a 100%);
    font-size: 1.25rem;
    color: #fff;
    border: 1px solid #95229c ;
    border-radius: 5px;
    transition: all 0.3s linear;
}
.social-icon ul li a:hover{
    background-image: linear-gradient(135deg,   #f3489a 0%, #95229c  100%);

}
.social-icon ul {
    display: flex;
    gap: 15px;
    align-items: center;
}
.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy-right p {
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 0;
    text-transform: capitalize;
}
.copy-right p a{
    text-decoration: underline;
    color: #25294a;
    font-weight: 700;
}
.copy-right p a:hover{
    color: #95229c;
}
.copy-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5625rem;
    margin-top: 2.1875rem;
    border-top: 1px solid #3a3982;
}
/* footer section css end */

/* Disclaimer section css start */
.disclaimer-text h4 {
    font-size: 1.5625rem;
    color: #25294a;
    font-weight: 600;
    margin-bottom: 0.9375rem;
}
.disclaimer-text p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.875rem;
}
.main-footer{
    background-color: #25294a0f;
    padding: 3.125rem 0;
}

/* Disclaimer section css end */

/* soccer main section css start */
.soccer-top {
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px -7px 15px;
    overflow: hidden;
    border-bottom: 2px solid #25294a;
}
.soccer-left {
    width: 43%;
    height: auto;
}
.soccer-left img{
    height: 100%;
    object-fit: cover;
    transform: skewX(-10deg) translateX(-33px);
    background-color: #fff;
    transition: all 0.3s linear;

}
/* .soccer-left img:hover{
    transform: skewX(-5deg) translateX(-20px);

} */
.soccer-right {
    width: 55%;
    padding: 1.25rem 0;
}
.soccer-right h4 {
    font-size: 1.5625rem;
    color: #000;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
.soccer-right h4 a{
    color: #25294a;
    text-decoration: underline;
}
.soccer-right ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
    color: #000;
    padding: 0.3125rem 0;
}
.stars i {
    font-size: 1rem;
    color: #dab900;
}

.bottom-text h4 {
    font-size: 1.5625rem;
    margin-bottom: 0.625rem;
    color: #25294a;
    font-weight: 700;
}
.bottom-text ul {
    padding-left: 1.25rem;
    margin-bottom: 0.625rem;
    list-style: disc;
}
    .bottom-text ul li {
        font-size: 1rem;
        color: #333;
        padding: 2px 0;
    }
    .soccer-bottom {
        padding: 0px 3.125rem;
        display: flex;
        justify-content: space-between;
    }
    .bottom-text {
        padding: 1.5625rem 0;
    }
    .bottom-right{
        width: 49%;
    }
    .bottom-left {
        border-right: 2px solid #25294a;
        width: 45%;
    }
    .soccer-wrap {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #25294a;
        margin: 2.5rem 0;
    }
    .soccer-right .check-out-btn {
        margin-top: 1.25rem;
    }
    section.site-banner.sub-banner {
        height: 60vh;
    }
/* soccer main section css end */

/* blog pages css start */

.blog-banner .banner-wrap{
justify-content: center;
}
.blog-bx h3 {
    font-size: 1.875rem;
    color: #25294a;
    margin-bottom: 0.625rem;
    font-weight: 700;
}
.blog-bx p {
    font-size: 1.125rem;
    color: #333;
}
.blog-bx ul {
    padding-left: 1.25rem;
    list-style: disc;
    margin: 0.625rem 0;
}
.blog-bx ul li {
    font-size: 1rem;
    color: #333;
    padding: 0.4375rem 0;
}
.blog-bx ul li strong{
    display: block;
    color: #000;
}
.blog-wrap .check-out-btn {
    position: absolute;
    bottom: 1.25rem;
}
/* blog pages css end */

/* privacy policy page css start */
.privacy-wrap h4 {
    font-size: 1.5625rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
    color: #25294a;
}
.privacy-wrap p{
    font-size: 1.125rem;
    color: #333;
    margin-bottom: 0.625rem;
}
.privacy-wrap p strong{
    color: #000;
}
.privacy-wrap p a{
    color: #000;
    text-decoration: underline;
font-weight: 600;
}
.privacy-wrap ul{
    padding-left: 1.25rem;
    list-style: disc;
    margin: 0.625rem 0;

}
.privacy-wrap ul li{
    font-size: 1.125rem;
    color: #333;
    padding: 2px 0; 
}
.privacy-wrap ul li strong{
    color: #000;
}
.privacy-wrap ul li a{
    color: #000;
    text-decoration: underline;
font-weight: 600;
}
.privacy-wrap {
margin: 1.5625rem 0;
}
/* privacy policy page css end */